body {
    margin:0;
    padding:0rem;
    font-family :Helvetica, sans-serif;
}

a {
    color : #00abff;
    text-decoration: none;
}

h1{
    font-weight: normal !important;
    border-bottom : 1px solid #bbb;
    padding : 0 0 10px 0;
}

h2{
    font-weight: normal !important;
    margin: 30px 0 0;
}

#content {
    float:left;
    width: 60%;
    padding: 0 0 0 30px;
}

#sidebar{
    float : right;
    width: 30%;
    padding: 10px;
    background: #efefef;
    height: 100%;
}


p.date {
    color: #ccc;
    font-family : Georgia, serif;
    font-size : 12px;
    font-style: italic;
}

/* pagination*/
.pagination {
    margin: 40px 0;
    font-weight: bold;
}


input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
    border:none;
    border-radius: 10px;
}



/* comment  */
.comment{
    padding: 10px !important;
}

.comment:nth-child(even){
    background: #efefef;
}

.comment .info{
    font-size:12px;
    font-weight:bold;
    color:#666;
}

#num_com{
    font-size:25px;
}

 .com_form>input{
    background-color: #666;
} 

#com_header{
    margin: 10px 0 ;
    padding: 5px;
    border-bottom: #666 1px solid;
    border-radius: 5px;

}